{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Clipboard.js Library -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    /* add the 'copy' button for each code block */
    document.querySelectorAll(".highlight > pre > code, pre > code").forEach(function (codeBlock) {
      const copyButton = document.createElement("button");
      copyButton.className = "copy-button";
      copyButton.innerText = "Copy";

      /* copy codes when click */
      copyButton.addEventListener("click", function () {
        const codeText = codeBlock.innerText;

        navigator.clipboard.writeText(codeText).then(function () {
          copyButton.innerText = "Copied!";
          setTimeout(() => (copyButton.innerText = "Copy"), 2000);
        }).catch(function () {
          copyButton.innerText = "Failed!";
        });
      });

      /* insert the button into code blocks */
      const pre = codeBlock.parentNode;
      pre.parentNode.insertBefore(copyButton, pre);
    });
  });
</script>


<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">